[2018-05-02 21:11] doutriaux1 opened #1 "should use cdp.CDPParser rather than argparse"
This opens the door to parameter files and unification of arguments accorss project via the `cia` project.

see:
https://github.com/CDAT/cdp
and
https://github.com/PCMDI/CIA

@zshaheen can you point to examples.

[2018-05-02 21:16] sterlingbaldwin commented on #1
Can these arguments also be passed via the command line?

[2018-05-02 21:20] doutriaux1 commented on #1
yep, that's the beauty of it
and you can overwrite the param file via command line

[2019-03-07 19:45] xylar opened #3 "Build a conda-forge feedstock"
This looks like an easy recipe to move over to conda-forge.  I'll work on a feedstock in the next couple of days.

[2019-03-07 19:47] xylar commented on #3
@sterlingbaldwin, for a conda recipe to be accepted, we'll need:
* a license file
* a tag or a release we can point to

Could you take care of these two as soon as you can so I can do the rest?

[2019-03-07 19:48] sterlingbaldwin commented on #3
Will do.

[2019-03-07 22:00] xylar commented on #3
It looks like at least a few alterations to the package will be needed before this is ready to go to conda-forge.  I'll make a pull request in the next day or 2 with some mods.

[2019-03-08 05:18] xylar opened #5 "python 3 support (once `cmor` supports python 3)"
This is one of a few packages keeping E3SM-Unified from fully supporting python 3.

[2019-03-13 05:26] jhkennedy opened #7 "Add cmor_handlers for ILAMB"
In order to get the full analysis capabilities of ILAMB, these CMOR variables will need to be (available to be) created from E3SM output:

[code]
where the first variable indicates the CMIP6 official variable name (`___` for unknown), `||` separates possible (understood by ILAMB) variable names (likely derived from past MIPs), and the `*` indicates the default variable name in ILAMB.

[2019-04-17 21:25] sterlingbaldwin commented on #5
I tested with the new py3 cmor, and e3sm_to_cmip works fine. I just need to merge everything and do a new build.

[2019-04-26 09:07] xylar opened #12 "Dependencies in meta.yaml out of date?"
I think some of the dependencies aren't consistent with the latest changes:
https://github.com/E3SM-Project/e3sm_to_cmip/blob/master/conda/meta.yaml

Specifically, I think `tqdm` isn't needed but `progressbar2`, `pyyaml` and `scipy` are.  Keeping this updated (as well as adding the dependencies to `README.md` and/or `setup.py`) would help me keep track of them.  Otherwise, I have to go through som

[2019-04-26 09:25] xylar commented on #12
Here's the command I'm using to create the environment I'm using on Anvil to test:
[code]

[2019-04-26 14:14] xylar opened #13 "parallel mode seems broken"
...but serial mode seems to be working.

In parallel mode:
https://github.com/E3SM-Project/e3sm_to_cmip/blob/master/e3sm_to_cmip/lib.py#L35
[code]
I'm seeing:
[code]
Looks good!

The next line:
https://github.com/E3SM-Project/e3sm_to_cmip/blob/master/e3sm_to_cmip/lib.py#L36
[code]
doesn't really make sense.  This is iterating through the values of the handler, which aren't the kind of thing you wo

[2019-04-26 14:15] xylar commented on #13
I'm going to see if I can fix this because testing in serial mode will be really slow...

[2019-04-26 14:34] xylar commented on #12
I've mostly addressed this in #11, though I didn't try to edit `setup.py`.

[2019-04-26 14:48] xylar commented on #5
Do you know if your latest changes mean that we now support python 3 here?  I'm doing my testing in python 2.7 still but would happily switch to python 3 if so.

[2019-04-26 16:43] sterlingbaldwin commented on #13
I think I tweaked the way the run_serial worked and didnt update run_parallel. This should be an easy fix.

[2019-04-26 17:44] #13 closed

[2019-05-01 19:58] #12 closed

[2019-05-03 19:15] sterlingbaldwin commented on #7
I just finished all the atmos variables, and am about to start one the land ones. Assuming I have all the formulas, I should be able to get these all done next week.

[2019-07-23 21:52] sterlingbaldwin opened #16 "mpaso variable wo axis issue"
The wo handler when run gives the following message:

[code]

@xylar Im not sure if the axis can just be swapped over to olevel instead of olevhalf without messing up the data.

[2019-07-23 22:01] xylar commented on #16
No, it really needs to be olevhalf.  I had a lot of trouble with that one.  I can look at it eventually but I'm on leave for 2 weeks now so it won't be soon.

[2019-07-23 22:03] xylar commented on #16
This worked when I tested so it's annoying that it stopped working in the meantime.  but the table for half z levels was pretty messed up before (things weren't defined in a consistent way like for the full z levels).  Maybe it's been fixed in the meantime and broke the code in the process.

[2019-08-08 22:58] #16 closed

[2019-09-03 21:42] #5 closed

[2019-09-03 21:42] #1 closed

[2019-09-03 22:30] beharrop opened #26 "Add flexibility for additional sampling frequencies"
@sterlingbaldwin, it would be great to include logic to allow sampling frequencies beyond monthly to be processed.  The two things I think that need to change would be some logic to specify which table to read in (e.g., CMIP6_Amon.json, CMIP6_day.json, CMIP6_E1hr.json), and a modification to the find_atm_files method allowing for different filenames associated with those different sampling frequen

[2019-10-09 09:39] xylar commented on #3
@sterlingbaldwin, I just tested the recipe for conda-forge below and every worked as expected.  When you're ready, please make a new release.  At that point, I'll point the recipe to that release and get this up on conda-forge.

[code]

[2019-10-09 16:15] xylar commented on #3
Feedstock is being added here: https://github.com/conda-forge/staged-recipes/pull/9776

[2019-10-09 16:42] #3 closed

[2019-11-15 04:21] rpwagner opened #39 "Automate data staging transfer"
@lukaszlacinski, a script is need to simplify the data staging process from NERSC to the system used to transform data for CMIP6 publication. Later we'll write another one to get the data from the processing systems to LLNL. @sterlingbaldwin can fill you in more of the details.

The script needs to do the following:

Inputs:
* Component (atmosphere, land, sea ice, etc.)
* Years to find set of file

[2019-11-15 05:41] sterlingbaldwin commented on #39
Another thing to keep in mind, is that the file name pattern for the component data needs to be configurable. The file names have changed before, and right now there's a discussion again to make some changes, so having the defaults be the current file naming conventions is fine, but there should be a configuration mechanism to allow for future file name changes that doesnt involve changing the cod

[2019-12-18 23:55] rpwagner commented on #39
Source data for testing:
https://acme-climate.atlassian.net/wiki/spaces/ED/pages/668959422/v1+DECK+output+HPSS+archive

[2020-03-23 18:21] mnichol3 opened #47 "Unable to find input files"
Hi, I'm trying to convert some CAM5 output using your wonderful package. However, it seems that its failing to find the variable timeseries input files. The following is from `converter.log`:
[code]

I'm wondering if this could be due to the format of the CAM timeseries filenames? For example, can the script find the `bc_a1DDF` input file with the name `FAMIPC5.cam.bc_a1DDF.199901-201412.nc`? Or d

[2020-03-25 16:52] mnichol3 commented on #47
Indeed it was a filename format issue but it's been resolved.

[2020-03-25 16:52] #47 closed

[2020-04-27 16:25] mnichol3 opened #49 "Required netcdf variables"
I'm attempting to CMOR-ize some CAM5 output, but keep running into variables that the e3sm_to_cmip scripts need that aren't included in the CAM5 output, such as `lat_bnds`, `lon_bnds`, & `time_bnds`.

I was wondering if you could post the netcdf metadata from an E3SM file that was successfully CMOR-ized so I could make sure I'm not missing anything else. Thanks!

[2020-05-25 18:11] sterlingbaldwin commented on #49
The tool is designed to work on regridded time-series files. Here's the metadata for one of the files it will work with:

[code]

[2020-05-29 16:36] golaz opened #50 "Simple conversion mode"
e3sm_to_cmip is a very useful utility.

Beyond generating data for CMIP release, e3sm_to_cmip could also be very useful for E3SM internal use. For example, when we need to convert model output variables to CMIP naming convention in order to use diagnostics package that follow CMIP variable naming convention.

Right now, e3sm_to_cmip can be used to do that, but it's a cumbersome because of all the

[2020-05-29 16:42] golaz opened #51 "Variable names need to be comma and space separated"
This may be a minor bug (unless it is a desired feature for some reason that I don't understand)

`e3sm_to_cmip -v rsdt, rsus [...]`

works, but

`e3sm_to_cmip -v rsdt,rsus [...]`

doesn't.

[2020-05-29 21:38] sterlingbaldwin commented on #51
Thats just how argparse handles lists of values for an argument. Note that the usage messages states "space separated list of variables."

[2020-05-29 21:54] golaz commented on #51
Yes, it's a bit of a strange feature. To get around it, I usually get the argument as a string then parse it myself.

[2020-05-29 21:54] #51 closed

[2020-05-30 01:03] sterlingbaldwin commented on #50
How much of the metadata should remain intact? For example, would you just want the raw data, or would you also want things like the standard name?

For example, here's the full CMIP6 variable info for clt:
[code]
Which, if any, of these metadata fields should be retained? I have a quick-and-dirty method of doing the simple conversion nearly working, but it doesnt retain any of the variable metada

[2020-05-30 01:31] golaz commented on #50
@sterlingbaldwin:  I don't think we need to retain any of the original **variables attributes**. Those can be safely replaced wit the CMIP variable metadata.

For the **global attributes**, keep all original metadata intact and no need to add any CMIP stuff. Maybe just add a history.

That may already what you have implemented?

[2020-06-02 00:07] mnichol3 commented on #49
Thank you!

[2020-06-02 00:07] #49 closed

[2020-06-02 00:17] mnichol3 opened #52 "Axis valid_min error"
When attempting to CMORize some CAM5 output to create `drybc`, I keep getting the following error:
[code]

I've checked the latitude values in the files being read by the variable handler script (`bc_a1DDF_199901_201412.nc`, `bc_a4DDF_199901_201412.nc`, `bc_c1DDF_199901_201412.nc`, `bc_c4DDF_199901_201412.nc`) and the minimum value in each array is `-90.0`.

Is there something else that could be c

[2020-06-12 16:41] mnichol3 opened #53 "Error installing e3sm_to_cmip & dependencies"
When trying to install the package, @ssmithClimate & I have both run into the same `PackagesNotFoundError`:

[code]

I was able to successfully install the `e3sm_to_cmip` package into my conda environment directly from GitHub, but am unable to install the needed `cmor` and `cdms2` packages, as they raise the same `PackagesNotFoundError`:
[code]

Any ideas on how to resolve this? Thanks!

[2020-06-15 17:34] chengzhuzhang commented on #53
It looks like a known issue (we see similar issue on Linux like systems). Not sure about Windows @sterlingbaldwin thoughts?

[2020-06-15 17:47] sterlingbaldwin commented on #53
I dont believe there's a windows version of CMOR or CDMS, and right now there are no plans to support windows for e3sm_to_cmip. Technically its a "noarch" package, but 100% of development, testing, and usage has been on linux servers. If you're interested in using this in a windows environment I would suggest using the Windows Subsystem for Linux (WSL), which does a pretty darn good job virtualiza

[2020-06-15 19:01] ssmithClimate commented on #53
Its not just windows. We're having this problem on unix systems as well.

[2020-06-20 23:53] mccoy20 commented on #50
Just to add to that, I think @golaz 's comment was on global attributes but @sterlingbaldwin may have been asking about the variable's attributes. I would advocate that the variable itself should have all the attributes that the CMIP6 variable would get, so as in @sterlingbaldwin 's example the new produced 'clt' should have all the attributes that are listed in the example. I think Chris says not

[2020-10-20 20:44] xylar opened #60 "Missing areacello"
The following issue was received by @vanroekel:

I don't recall `areacello` (or `volcello`) coming up during our discussions of which handlers were needed.  They are listed as "cell_measures" on many variables:
[code]

In the OMIP paper:

So it looks like we need to compute this and add it to all ocean variables that are weighted by `areaCell`.

I'm not at all clear on how this should be handled.

[2020-10-20 20:45] xylar commented on #60
@sterlingbaldwin, @chengzhuzhang, @rljacob, your input would be appreciated.  How is the corresponding atmosphere cell area currently handled?

[2020-10-20 21:00] chengzhuzhang commented on #60
@xylar We have similar auxiliary variables (fixed with time) for atmosphere: https://acme-climate.atlassian.net/wiki/spaces/ED/pages/1010402171/fx+variable+conversion+table
these variables are published individually along with each simulations. @sterlingbaldwin just recently republished one of these variables for atmosphere. It seems `areacello` and `thkcello` should be handled similarly as these

[2020-10-20 21:01] sterlingbaldwin commented on #60
The corresponding atmos variable `areacella` isn't added to each of the atmos variables, instead its supplied separately as its own dataset for each experiment since its a constant. I think we could do the same thing here, I dont think we would need to go back and update every ocean variable with the constant value. With this new handler, I can fairly easily add the new variables to each of the ex

[2020-10-20 21:10] sterlingbaldwin commented on #60
I just checked the `cell_measures` for all our variables, the only ones missing are `areacello` and `volcello`. I also saw `"cell_measures": "--OPT"` for a few but these are ignored by PrePare and CMOR and substituted for an empty string so can be ignored.

[2020-10-20 22:17] xylar commented on #60
Okay, I'm relieved to know that this isn't quite as big a deal as I thought.

[2020-10-20 22:22] xylar commented on #60
`thkcello` should be a very simple modification of https://github.com/E3SM-Project/e3sm_to_cmip/blob/master/e3sm_to_cmip/cmor_handlers/masscello.py, where we just don't multiply by `config_density0` (and obviously the units change).  And `volcello` would just be the same but multiplied by `areaCell`.  I should have a PR for all 3 by tomorrow.

[2020-10-30 21:32] #60 closed

[2020-11-12 22:49] sterlingbaldwin opened #62 "huss variable broken"
The axis for the "huss" variable arent correct and need to be fixed.

[2020-11-12 22:50] #53 closed

[2020-11-12 22:51] #50 closed

[2020-11-25 18:50] sterlingbaldwin commented on #62
Fixed in the highfreq branch.

[2020-11-25 18:50] #62 closed

[2021-01-21 21:55] ypeings opened #65 "Processing 14-month runs (PAMIP)"
Dear E3SM colleagues,

In our team at UC Irvine, we have run E3SMv1 simulations for the Polar Amplification MIP (PAMIP). These experiments consists of ensembles of 14-month runs, going from April of year 0 to May of year +1.

I am trying to use e3sm_to_cmip to CMOR this data and make it available on ESGF. I see in the instructions that the input data has to be processed using ncclimo, to have one

[2021-01-21 22:42] chengzhuzhang commented on #65
Hi Charlie @czender do we have a possible workaround for splitting time-series from 14-month data.

[2021-01-21 23:41] czender commented on #65
What is the context? Is `ncclimo` being called in splitter mode, i.e., to separate time series of multi-variable files into timeseries of single-variable files? Or what? An example of an `ncclimo` command and a listing of the (14?) readable input files would be helpful.

[2021-01-21 23:57] ypeings commented on #65
@czender My files are not timeseries, they only include one month (h0 files) or day (h1 files). There is an example here :
/global/cscratch1/sd/ypeings/e3sm_scratch/cori-knl/archive/PAMIP-1.6_20/atm/hist

ls *h0* will show you the 14 monthly files that include all the variables. My goal is to process these files so I can use e3sm_to_cmip to convert them to CMIP format. I hav enever used ncclimo be

[2021-01-22 17:21] czender commented on #65
Double-checking that the files you want to produce in CMIP format are 14-month long timeseries, one timeseries per variable? Or what?

[2021-01-22 17:44] ypeings commented on #65
@czender Yes, that's what we want to produce, one 14-month long file per variable.

[2021-01-25 21:13] czender commented on #65
Hi Yannick,
I looked into this and will create a patch for `ncclimo` that does this. It is a gap in functionality that I have known would need to be fixed for a long time. The patch will simply require the user to add arguments for the start and end month. Nothing too painful. However, the internal changes necessary are non-trivial and, as importantly, I am slammed for the next two weeks. I think

[2021-01-25 21:43] ypeings commented on #65
@czender This is awesome, thank you very much Charlie !

[2021-02-13 17:06] czender commented on #65
FYI this is almost finished. Final changes will be done within a few days.

[2021-02-13 19:43] czender commented on #65
OK, it's ready. Try adding mth_srt and mth_end to your syntax like:

[code]
Just be sure to use ncclimo v. 4.9.8-alpha03 or later. You can copy it or run it from `~zender/bin_cori/ncclimo` on Cori. LMK how it works...

[2021-02-16 16:25] ypeings commented on #65
@czender  Hi Charlie, thank you so much ! I tried it, it works perfectly, this will be very helpful for sharing our PAMIP data on ESGF.
Thanks again and have a great day !

[2021-02-16 16:45] czender commented on #65
Glad to hear it, Yannick. This will also be released in NCO 4.9.8 within a few weeks.

[2021-02-16 16:45] #65 closed

[2021-03-15 23:36] ypeings opened #66 "e3sm_to_cmip for daily data"
Dear all,

I have successfully converted monthly data from our PAMIP (Polar Amplification MIP) E3SM simulations using e3sm_to_cmip (thanks to @czender and his upgrade of ncclimo), so it can be shared on ESGF.

I know need to take care of the daily data, but I cannot find instructions on how to use the e3sm_to_cmip for daily data. Could somebody help me with this ? Our runs are 14-month runs, going

[2021-03-16 17:17] chengzhuzhang commented on #66
I recall that @sterlingbaldwin has added capability to support high frequency data in a most recent release. @sterlingbaldwin would you provide the instruction as well? Thanks.

[2021-03-16 17:35] sterlingbaldwin commented on #66
The only difference between monthly vs daily processing is the `--freq=day` flag that needs to be passed. Other then that, its exactly the same, just point the input path at a directory filled with time-series file extracted from the daily files. If you're using the CWL processing scripts, there's a workflow setup to do daily files: https://github.com/E3SM-Project/e3sm_to_cmip/tree/master/scripts/

[2021-03-16 17:41] ypeings commented on #66
Thanks @chengzhuzhang and @sterlingbaldwin , I will give it a try !

[2021-03-16 18:42] sterlingbaldwin commented on #66
Let me know if it works for you, there have only been a couple usages of it so far and if you run into any problems (or it works perfectly) it would be great to hear about it!

[2021-03-17 23:37] ypeings commented on #66
So I've been working on this, I'm struggling to get the data in the right format before using e3sm_to_cmip. It's the same problem I had for the monthly data, because our simulations are 14-month runs (April to May of year 2), ncclimo does not handle it well (for daily data, monthly data works after Charlie's update).

@czender : now that you have tweaked ncclimo so it works on non-full year monthl

[2021-03-18 00:13] czender commented on #66
I had a feeling this would end up in my lap :) I would be happy to address this issue as I think it is one that many users might ultimately benefit from. However, this work would pre-empt my efforts (which have not yet started due to previous pre-emptions) to get `ncremap` to work with MOAB. So I must ask @rljacob and @chengzhuzhang if it is OK to prioritize this instead. If so, please create an e

[2021-03-18 00:44] rljacob commented on #66
Yes this can be a higher priority.

[2021-03-18 00:52] czender commented on #66
Thanks, Rob. @ypeings please point me to a sample 14-month dataset on Cori that I can use for testing and evaluation.

[2021-03-18 16:11] ypeings commented on #66
@czender  Here are monthly (h0), daily (h1) and 6-hour (h2) outputs from one of the 14-month run : /global/cscratch1/sd/ypeings/e3sm_scratch/cori-knl/archive/PAMIP-1.1_101/atm/hist

Thanks for doing that !

[2021-03-18 16:34] czender commented on #66
I understand that you want the unaltered daily average from h1 files. For the h2 files do you want the raw 6-houly data, or do you want those averaged into daily data first, or what?

[2021-03-18 16:44] ypeings commented on #66
Yes that's correct, I need the unaltered daily average from h1 files. I don't need the h2 files. Just thought I would leave them in there in case you want to make tests with that too.

[2021-03-18 16:44] czender commented on #66
@ypeings Also I need read permission on that directory and all files

[2021-03-18 16:59] ypeings commented on #66
Ok I've changed the permissions, let me know if you have access

[2021-03-18 17:51] czender commented on #66
zender@cori09:~$ cd /global/cscratch1/sd/ypeings/e3sm_scratch/cori-knl/archive/PAMIP-1.1_101/atm/hist
-bash: cd: /global/cscratch1/sd/ypeings/e3sm_scratch/cori-knl/archive/PAMIP-1.1_101/atm/hist: Permission denied

[2021-03-18 18:25] ypeings commented on #66
Weird, I've added all-users read permissions to the ypeings directory and all subdirectories linking to the files

[2021-03-18 18:54] czender commented on #66
No rush, please test the readability with a different user and let me know when you have this solved.

[2021-03-18 21:08] ypeings commented on #66
@czender I got help from the NERSC help desk, you should have access now

[2021-03-18 23:06] czender commented on #66
Access works now. I'll post again why I have something for you to test.

[2021-03-31 20:45] sterlingbaldwin opened #67 "Add cSoil and npp to the land variable converters"

[2021-04-01 21:17] ypeings commented on #66
@czender Thanks Charlie, looking into this, I'll let you know

[2021-04-02 20:35] chengzhuzhang commented on #66
@sterlingbaldwin

Hey Sterling, can you please update the `end-to-end` workflow for including high-frequency capability?

[2021-04-06 21:48] ypeings commented on #66
Hi @czender , the updated ncclimo for daily data seems to work, I get the April to May daily timeseries I need for this data. Thank you for your help with this.

I still have problems with e3sm_to_cmip for that daily data though, with a "No handlers loaded" message. I'm trying to figure it out, please let me know if any of you has some recommendations.

[2021-04-06 22:29] czender commented on #66
Glad to hear it. I think many people will find this feature useful.

As for the `e3sm_to_cmip`, it may be difficult for them to support this new feature until NCO has another release that can be loaded via Conda. I plan to release 4.9.9 later this month, though that can be accelerated if necessary. @sterlingbaldwin LMK if you need 4.9.9 released sooner than end of this month.

[2021-04-06 22:44] sterlingbaldwin commented on #66
@ypeings what variables are you trying to process?

[2021-04-06 23:25] ypeings commented on #66
@sterlingbaldwin I'm running a test with psl. ncclimo creates the file PSL_YYY104_YYY205.nc (my runs go from April to May of year +1) in the right directory, but then e3sm_to_cmip gives me the following error :
[-] No handlers loaded

I run the following command :
e3sm_to_cmip -v psl --freq day --input $DIRIN --output $DIROUT -t ./cmip6-cmor-tables/Tables -u e3sm_user_config_picontrol.json

[2021-04-06 23:35] sterlingbaldwin commented on #66
Ah that would explain it. I’ll have to check but I dont think the daily psl handler’s been implemented. Should be quick and easy.

</Sterling Baldwin>

On Apr 6, 2021, at 4:25 PM, ypeings ***@***.***> wrote:

﻿

@sterlingbaldwin<https://urldefense.us/v3/__https://github.com/sterlingbaldwin__;!!G2kpM7uM-TzIFchu!gynVO0wIfBGbGniTSEtF4v9TKFbwHToafr1FB3WGIa1LjA8c4RqcNcnRnSR9J4P5hwo$> I'm running a test

[2021-04-20 21:45] #66 closed

[2021-04-20 21:47] sterlingbaldwin commented on #26
@beharrop daily frequency has been implemented and tested. Other frequencies should also work, but havent been extensively tested, and I havent made CWL workflows for them yet, but I've run a couple quick samples and they're working.

[2021-04-20 21:47] #26 closed

[2021-04-20 21:47] #7 closed

[2021-04-20 21:49] sterlingbaldwin opened #68 "systematic test for soil carbon variables"
There was an issue a while back where the conversion formula for the carbon variables didnt include the required grams-to-kilograms conversion. Even though the handlers have been updated, and the published datasets (mostly?) republished there was a report of a dataset with data in the incorrect range. We need a script to do a check on all our published land carbon variables to make sure they're al

[2021-04-30 22:16] sterlingbaldwin opened #70 "Redundant rlut converters"
There are two versions of the rlut converter, one in the default and one explicit. The default one is wrong and should be removed.

[2021-05-06 21:57] chengzhuzhang commented on #70
Hey Sterling, would you elaborate on this issue? For Amon table we have a different formula. I thought supporting multiple converter is supported?

[2021-05-06 22:01] sterlingbaldwin commented on #70
So it _is_ supported to have multiple converters for the same variable, however they need to have different names. For example there is "pr" and "pr_day" since the formula for daily pr is different. The issue here however is that the manually implemented "rlut" is correct, and the formula for the simple handler is wrong. Should be an easy fix, just remove the simple handler definition. The upside

[2021-05-07 02:56] chengzhuzhang commented on #70
Thanks for the clarification. It sounds like in this particular case, we will just have rlut_daily for the simple handler. It might be useful in the long run, to build an ordered dictionary structure to handle the same variable with different formula situation. An example from e3sm-diags: https://github.com/E3SM-Project/e3sm_diags/blob/462f4c77d01e7fdc3e37c70541f4fb5e826d0406/acme_diags/derivation

[2021-05-07 15:38] sterlingbaldwin commented on #70
I already have some logic to pick the correct CMIP table based on the frequency of the being converted, I could tag the handlers with the frequencies they can convert and then pick the correct one at run time. ``pr_day`` was a quick and easy hack that worked, but perhaps isnt the best long term solution.

[2021-05-13 22:19] #70 closed

[2021-08-10 19:03] chengzhuzhang opened #74 "Addtional handler for high frequency pr"
As brought up by @crterai A handler is needed when precipitation is output as PRECL and PRECC in high frequency

[2021-08-10 19:06] chengzhuzhang commented on #74
Hey @sterling, in current work, we have PRECT output at high frequency.
I found:
[code]
and the pr handler for PR = PRECT+PRECC for monthly frequency. I'm wondering what is the best way to accommodate this new handler?

[2021-08-10 20:06] sterling commented on #74
I think you have the wrong Sterling

[2021-08-10 20:08] chengzhuzhang commented on #74
Thank you for pointing out...@sterling

[2021-08-10 20:09] chengzhuzhang commented on #74
@sterlingbaldwin any advice on this implementation?

[2021-08-10 20:47] sterlingbaldwin commented on #74
hahaha sorry @sterling

[2021-08-11 22:54] chengzhuzhang opened #77 "New Feature Request: Global Chemistry Budget"
@tangq and @hsiangheleellnl are working on a new diags set, that create global sum of tendencies of multiple chemistry variables and use a table to host those global sum values.

We we start a new set (i.e., chem_global_buget) to be incorporated in e3sm_diags:
- start with native grid climo files
- implement a new driver `chem_global_buget_driver` to generate seasonal and annual mean global tenden

[2021-08-11 23:02] chengzhuzhang commented on #77
Issue filed in the wrong place. Sorry!

[2021-08-11 23:02] #77 closed

[2021-08-13 21:14] #74 closed

[2021-08-16 18:01] tomvothecoder opened #79 "Update Anaconda dev env with cdms2/cdutil and CWL dependencies"
`cdms2` and `cdutil` is used for `pfull`/`phalf` handlers (not used often).
- Reference: https://github.com/E3SM-Project/e3sm_to_cmip#note
- Note: Adding `cdms2` and `cdutil` causes Anaconda package conflict issues with the existing dev env, also need to resolve this.

CWL dependencies (`cwltool` and `nodejs`)
- Reference: https://e3sm-project.github.io/e3sm_to_cmip/html/cwl.html#setting-up-your-c

[2021-08-17 16:57] crterai opened #80 "Error in processing high-frequency (daily) precip output"
I am running into an error while processing daily PRECT data using the following command on timeseries data
[code]

I got the following error:
[code]
Am I missing a step? I am using the e3sm_to_cmip installed from conda-forge this morning.

[2021-08-17 17:02] chengzhuzhang commented on #80
@sterlingbaldwin could this relate to the daily pr_highfreq issue we talked about yesterday?

[2021-08-17 17:24] sterlingbaldwin commented on #80
@crterai I think I see the issue here, I should be able to have a fix out this afternoon.

[2021-08-17 17:47] crterai commented on #80
Thanks, @sterlingbaldwin!

[2021-08-17 17:51] sterlingbaldwin commented on #80
This is now fixed in the latest version on master.  I'll tag a new version and it will get built for conda-forge, but sometimes that can take a little while. You can either pull the repo locally and use it now, or wait for the build and pull from conda this afternoon.

[2021-08-17 17:52] sterlingbaldwin commented on #80
Also, I added the 3hr and daily CMIP tables to the packages resource files, so you shouldnt need to specify the `-t` flag anymore.

[2021-08-17 18:05] crterai commented on #80
Okay, I'll give it a try this afternoon then. Thanks!

[2021-08-17 21:25] crterai commented on #80
@sterlingbaldwin Thanks for adding the 3hr and daily CMIP tables to the resource files. I pulled the repo locally and tried using it.
This is the new error that I encountered:
[code]

[2021-08-17 22:56] sterlingbaldwin commented on #80
oh no! I really thought this was done. I'll take another look at this, I think this is a result of a recent change that switched the data access library from `cdms2` to `xarray`.

[2021-08-17 23:38] crterai commented on #80
Ahh okay. Thanks for looking into it. Hope it's not too much work for you.

[2021-08-17 23:48] sterlingbaldwin commented on #80
For the time being, this is being caused by the "--simple" flag. Try using one of the e3sm metadata files [here](https://github.com/E3SM-Project/CMIP6-Metadata/tree/master/E3SM-1-0)

[2021-08-18 01:50] crterai commented on #80
Okay, thanks @sterlingbaldwin. I'll try to use one of the AMIP json files then.

[2021-08-18 19:50] crterai commented on #80
Is the syntax for running with the json files the following?
[code]

I feel like I've missed something since I run into the following error:
[code]
Running in in serial also produced the following error:
[code]
No worries, if it will take time to debug. I have a bunch of monthly files that I need to cmorize in the meantime.

[2021-08-18 20:39] sterlingbaldwin commented on #80
this is confusing to me, it works when I run it

[code]

[2021-08-18 21:08] sterlingbaldwin commented on #80
ahhh ok I think the issue is the `-t` flag. It should point directly at the `Tables` directory under the `cmip6-cmor-tables` repo

[2021-08-19 19:36] #79 closed

[2021-08-19 20:42] crterai commented on #80
Thanks, @sterlingbaldwin. My local build oddly didn't work (likely I missed something), but I was able to make that command work using the e3sm_to_cmip build on e3sm_unified.
I really appreciate the help and quick responses so close to your departure date!

[2021-08-19 22:19] sterlingbaldwin commented on #80
A bug like this existing after I leave is a nightmare 😃 Happy its working for you.

-----
Sterling Baldwin

Software Engineer, Climate Program
Lawrence Livermore National Lab

From: Chris Terai ***@***.***>
Date: Thursday, August 19, 2021 at 1:42 PM
To: E3SM-Project/e3sm_to_cmip ***@***.***>
Cc: Baldwin, Sterling Avalon ***@***.***>, Mention ***@***.***>
Subject: Re: [E3SM-Project/e3sm_to_cmip] Er

[2021-08-20 15:32] crterai commented on #80
Closing this issue, since the following command will process daily PRECT files when using e3sm_to_cmip in e3sm-unified 1.5.0
[code]

[2021-08-20 16:33] chengzhuzhang commented on #80
I guess let's keep this issue open, to make `--simple` flag work...

[2021-08-23 16:27] tomvothecoder opened #82 "Move README docs to centralized docs/ directory"
This will allow users and contributors to quickly find docs. The `docs/` directory is usually standard in Python libs.

[2021-08-23 16:31] #82 closed

[2021-09-24 20:50] chengzhuzhang opened #85 "Data and resource file re-org"
e3sm_to_cmip uses data from another git repo as input:
Meta data definition files from https://github.com/E3SM-Project/CMIP6-Metadata
and
cmor tables https://github.com/PCMDI/cmip6-cmor-tables

A version of cmor tables are copied over to
e3sm_to_cmip/e3sm_to_cmip/resources/

A re-org of these data files are needed.

[2021-09-24 20:52] chengzhuzhang commented on #85
@xylar we will need data from above two repos if we were include cmorizing in zppy. I'm thinking maybe we can address this through either e3sm_unified or mache?

[2021-09-25 00:59] xylar commented on #85
@chengzhuzhang, I don't think that E3SM-Unified or mache provides a clear path for including these other repos.

I think you would want to make recipes to make conda packages of these repos (this would require licenses for both and a release for CMIP6-Metadata).  Then, they could be dependencies of `e3sm_to_cmip`.

A conceptually similar conda package is `cartopy_offlinedata`:
https://github.com/w

[2021-09-25 01:02] xylar commented on #85
@chengzhuzhang, did you also see this comment at:
https://github.com/PCMDI/cmip6-cmor-tables

So should `e3sm_to_cmip` be using https://github.com/WCRP-CMIP/CMIP6_CVs instead?

[2021-09-26 00:39] chengzhuzhang commented on #85
@xylar Hey, thank you for the suggestions. Unlike the catopy-offline data. The two repos concerned are less popular. Not sure if it worth the effort to do the conversion, with potential license problems on the side. It might be worthwhile to make the cmip6-cmor-tables a conda package. But, https://github.com/E3SM-Project/CMIP6-Metadata will be mostly used internally within E3SM. On possibility I'm

[2021-09-26 00:42] chengzhuzhang commented on #85
`e3sm_to_cmip` uses CMOR, so `cmip6-cmor-tables` should be the right repo.

[2021-09-26 04:46] xylar commented on #85
@chengzhuzhang, thanks for the further discussion.  Thanks for clarifying about `cmip6-cmor-tables`.

I also get why having these data repos as conda packages on conda-forge probably isn't the way to go.

However, I'm wondering if `mache` is really the way to go.  The only reason to try to include this data in `mache` would be if we plan to download it manually onto E3SM supported machines, and `m

[2021-09-28 17:59] chengzhuzhang opened #87 "Error could not convert data to a numpy array"
When cmorize a variable `lai`, there is an error:" Error could not convert data to a numpy array"
It appears to be the result of data structure change from using `cdms2` to use `xarray` to read in data. Some instances of the handlers has been fixed, an example shown here: https://github.com/E3SM-Project/e3sm_to_cmip/pull/84#issuecomment-916469815
But a thorough check is required to fix all handler

[2021-09-29 14:55] tomvothecoder commented on #87
This fix should be easy in itself, but I need to find the optimal debugging process for `e3sm_to_cmip`.

To quickly fix https://github.com/E3SM-Project/e3sm_to_cmip/pull/84#issuecomment-916469815, I added print statements and ran the CWL workflow (which is an inefficient and tedious process). I usually add VSCode breakpoints to the functions/methods I am debugging to step through the code. I think

[2021-09-29 16:22] chengzhuzhang commented on #87
This is a good point, I don't have a good idea debugging. But at this point, I'm thinking for testing just to run a full cwl workflow for all land and atmosphere variables and check if all the specified variables are generated.

Another possibility is to set up a full set of time-series files (after regriding), for testing `e3sm_to_cmip`, just to set up a separate workflow to loop over all the var

[2021-10-14 22:14] tomvothecoder opened #89 "Store CWL outputs in `outputs/` dir"
The outputs should preferably be stored in an `outputs/` directory, otherwise it blows up the root directory. This can make it very cumbersome to navigate for actual code changes. We have have to highlight and discard all of the output directories manually, instead of discarding a single `outputs/` dir.

Example in VSCode below:
![image](https://user-images.githubusercontent.com/25624127/137402692

[2021-10-18 15:20] tomvothecoder opened #90 "Bump version to `v1.8.0`"
Acceptance criteria
- [ ] Bump from 1.7.4 to 1.8.0
- [ ] Create a GH release (as `v1.8.0`)
- [ ] Upload to package to Anaconda `e3sm` channel (as `1.8.0`)
- [ ] Let Xylar know of this release for E3SM-unified

[2021-10-18 16:02] #90 closed

[2021-10-18 16:20] tomvothecoder opened #92 "Update Anaconda package uploading process"
Acceptance Criteria
- [x] Update `setup.py` `author` and `author_email` (list of current contributors)
- [x] Remove `meta.yaml` since uploads are now done via the [conda-forge feedstock](https://github.com/conda-forge/e3sm_to_cmip-feedstock)
- [x] Add `tbump` to dev dependences for bumping versions
- [ ] Update docs on releasing

[2021-10-18 16:58] tomvothecoder commented on #90
Hey @chengzhuzhang and @xylar, `v1.8.0` has been released on GH (https://github.com/E3SM-Project/e3sm_to_cmip/releases/tag/v1.8.0) and the e3sm Anaconda channel (https://anaconda.org/e3sm/e3sm_to_cmip/files).

[2021-10-18 23:37] xylar commented on #92
@tomvothecoder, more importantly, `e3sm_to_cmip` is on `conda-forge` so we shouldn't be building our own packages for the `e3sm` channel at all anymore.  In fact, I would prefer to delete the one that got uploaded if that's okay.

https://anaconda.org/conda-forge/e3sm_to_cmip/files
https://anaconda.org/e3sm/e3sm_to_cmip/files

Having 2 channels isn't good.  We really need to stick with one.

[2021-10-19 00:53] xylar commented on #92
I labeled all builds of `e3sm_to_cmip` on the `e3sm` channel as `broken`.  That way, someone could install them if they really needed to but no one should do so accidentally.

[2021-12-14 23:19] #92 closed

[2021-12-16 20:43] TonyB9000 opened #95 "Wrong exit code"
e3sm_to_cmip should return a non-zero exit status upon failure.

[2022-01-07 20:29] chengzhuzhang opened #98 "NaNfs in all 3D variables being remapped to pressure levels"
Same issue (resulted by switching xarray from cdms2 date back from Apr, 2021) to what has been resolved in https://github.com/E3SM-Project/e3sm_to_cmip/pull/97
But for all 3D variables that requires vertical interpolation to CMIP specified pressure levels.
Impacted variables: [hus, o3, ta, ua, va, zg, hur, wap] in all experiments.

[2022-01-10 16:25] tomvothecoder opened #99 "Remove unnecessary Python string conversions performed on strings"
Some Python files located under `e3sm_to_cmip/cmor_handlers` contain string conversion for values that are already of string type. We should remove these unnecessary conversions by using find and replace with regex matching.

Example:
https://github.com/E3SM-Project/e3sm_to_cmip/blob/d6c6dfc9b682d84521df740c03fed2c3cdc5126e/e3sm_to_cmip/cmor_handlers/areacella.py#L18-L22

[2022-01-10 16:27] tomvothecoder opened #100 "Invalid links and/or missing git pages"
Originally reported by @TonyB9000 via email:

[2022-01-11 21:52] #98 closed

[2022-01-11 22:02] tomvothecoder opened #103 "Refactor the API design for `cmor_handlers`"
Discussion source: https://github.com/E3SM-Project/e3sm_to_cmip/pull/102#issuecomment-1010124839

Related issues
* https://github.com/E3SM-Project/e3sm_to_cmip/issues/99

[2022-01-12 16:18] tomvothecoder opened #104 "Move documentation source over to `master` and deploy build using GH Actions"
Similar to https://github.com/E3SM-Project/e3sm_diags/issues/352

Documentation is built on the `gh-pages` branch, which means it can get out of sync with the `master` branch. We can move the documentation source over to `master` and deploy the build using GH Actions.

Steps
1. Checkout `gh-pages`
2. Move `source` directory and related files over to `master`
3. Add documentation dependencies to `c

[2022-01-12 17:10] #104 closed

[2022-01-12 18:10] chengzhuzhang opened #107 ""Error could not convert data to a numpy array" and "Nafs" in cLitter and potentially other land varibles handlers"
@TonyB9000 discovered that cLitter cmorization failed with "Error could not convert data to a numpy array". On inpecting cLitter.py, the same fixes for converting to numpy array and fill in NaN values are needed. Potentially other land variable handlers may need both fixes.

[2022-01-12 18:17] chengzhuzhang commented on #107
Hey Tom, I'm a little short of hands, would you please take care of this issue? essentially, both problems were caused by moving to xarray. I think you had fixed `not a numpy array problem` for `lai` and `trans`, but they should also have the `Nafs` problem. Would you go around the land variable list to fix any handles have this issue? Variable 1-12 in this table:https://acme-climate.atlassian.net

[2022-01-12 18:29] tomvothecoder commented on #107
@chengzhuzhang Got it, I should be able to have a PR ready soon.

[2022-01-12 18:54] tomvothecoder opened #109 "Update scaffolding of repo and add Python matrix testing"
The scaffolding of the repo can be improved to make navigation and managing it easier.

- `.github` -- GH related files (e.g., workflows)
- `conda-env` -- conda envs
- `docs` -- guides and sphinx docs to be published via GH Actions
- `e3sm_to_cmip` -- main package dir
- `scripts` -- CWL workflows and scripts
- `tests` -- tests corresponding to files in `e3sm_to_cmip` dir

The GH Actions build work

[2022-01-12 19:09] #109 closed

[2022-01-15 00:58] #107 closed

[2022-01-20 23:55] chengzhuzhang opened #113 "Fix yaml.load for deprecated use"
defaults = yaml.load(infile) without a `loader` argument was deprecated, which resulted an error @TonyB9000 reported as:
[code]

The erroneous line is: https://github.com/E3SM-Project/e3sm_to_cmip/blob/dd9698cfef79788c0a89062c802b17c5a2225b07/e3sm_to_cmip/util.py#L387

[2022-01-21 19:35] #113 closed

[2022-01-27 18:56] tomvothecoder opened #115 "Refactor `phalf.py` and `pfull.py` to `handlers.yaml`"
## Handlers to Refactor

Handlers that use CDAT -- uses `cdutil.vertical.reconstructPressureFromHybrid` (not in xarray natively)
- pfull.py
- phalf.py

### Other Info
For local package builds using `pip install .` or `python setup install`, the `setup.py` file is used.
The `install_requires` section of `setup.py` is supposed to list the required dependencies for the package that can be installed v

[2022-01-27 19:18] xylar commented on #115
@tomvothecoder, I think it would be great if `e3sm_to_cmip` could be available on pypi and not just conda-forge.

I wanted to caution that it's not generally a good idea to get dependencies for a conda environment from pypi unless you're careful to get *all* of them from pypi.  So in my experience doing `pip install .` into a conda environment without first carefully installing the dependencies fr

[2022-01-27 22:26] tomvothecoder commented on #115
Thanks for the information. @xylar  Yup, the workflow you mentioned with installing conda-forge dependencies first is what we do now in this repo.

This specific issue was raised because some developers on the https://github.com/E3SM-Project/esgfpub repo would install the latest master version of `e3sm_to_cmip` using `python setup.py install` or `pip install .` into `esgfpub` related envs. However

[2022-01-27 22:34] tomvothecoder commented on #115
I actually found this related to creating an env using multiple .yml files:

https://github.com/conda/conda/issues/5821#issuecomment-651959113

[2022-01-27 22:46] xylar commented on #115
I think it's legit to just say that your package doesn't support these methods of installation.  That's the case for all of the conda packages I develop.  You have to get them (or their dependencies) from conda-forge.  But that clearly restricts which workflows they can be incorporated into.  So I support the idea of putting `e3sm_to_cmip` on pypi if possible and supporting installation with pip f

[2022-02-02 23:11] tomvothecoder opened #116 "Update dev env dependencies"

[2022-02-03 18:03] #116 closed

[2022-02-03 22:19] tomvothecoder opened #121 "Add test suite for unit testing, decoupled from CWL"
Refer to comment: https://github.com/E3SM-Project/e3sm_to_cmip/pull/88#issuecomment-944424513

[2022-02-04 21:36] tomvothecoder opened #122 "Update conda envs to Python 3.9 and constrain `cmor >=3.6.0`"
In the past, I had issues creating an environment with Python >3.8, cdms=3.1.5, and cdutil=8.2.1.

However, this is no longer the case since those two CDAT packages now work with Python 3.9 (and probably 3.10).

https://github.com/E3SM-Project/e3sm_to_cmip/blob/413c37819dd1d7c7674f24f1ff81f61e6b7bdde3/conda-env/ci.yml#L19-L22
https://github.com/E3SM-Project/e3sm_to_cmip/blob/413c37819dd1d7c7674f24

[2022-02-07 22:35] tomvothecoder opened #123 "Add `nodejs` and `cwltool` as dependencies to `ci.yml`"
`nodejs` and `cwltool` are required to run the CWL workflow files in `e3sm_to_cmip` (refer to lines below):

https://github.com/E3SM-Project/e3sm_to_cmip/blob/413c37819dd1d7c7674f24f1ff81f61e6b7bdde3/conda-env/dev.yml#L32-L34

These dependencies should be added to `ci.yml` and the conda-forge feedstock ():
* https://github.com/E3SM-Project/e3sm_to_cmip/blob/master/conda-env/ci.yml
* https://github

[2022-02-07 22:57] tomvothecoder opened #124 "Figure out a way to easily get non-package external dependencies cloned"
There are two non-package external dependencies that some CWL workflows rely on:

1. `metadata_path`
  * Repository: https://github.com/E3SM-Project/CMIP6-Metadata
  * Example: https://github.com/E3SM-Project/e3sm_to_cmip/blob/413c37819dd1d7c7674f24f1ff81f61e6b7bdde3/scripts/cwl_workflows/lnd-elm/lnd-job.yaml#L22

2. `tables_path`
  * Repository: https://github.com/PCMDI/cmip6-cmor-tables
  * Exam

[2022-02-07 22:59] tomvothecoder commented on #124
@TonyB9000 and @chengzhuzhang, I noticed that this process could be semi-automated using a bash script.

It affects `e3sm_to_cmip` and `esgfpub`/`warehouse` (https://github.com/E3SM-Project/esgfpub/issues/100).

[2022-02-07 23:03] tomvothecoder commented on #124
Ideally, the web dev side of me would say that the `.json` files should be served over a REST API and users would query them using HTTP. However, that's another discussion to be had.

[2022-02-07 23:03] xylar commented on #124
Would it make sense to make conda-forge data packages for these?

[2022-02-07 23:04] xylar commented on #124
Here's an example: https://github.com/conda-forge/tzdata-feedstock

[2022-02-07 23:43] #122 closed

[2022-02-07 23:43] #123 closed

[2022-02-07 23:52] tomvothecoder commented on #124
If I'm guessing correctly, a conda-forge data package is essentially cloning the repository, but directly in the environment via `conda install`?

If that's the case, I'm open to the idea since it sounds like it can simplify things. I think we'd have to get the maintainers of this repo onboard: https://github.com/PCMDI/cmip6-cmor-tables

[2022-02-07 23:55] TonyB9000 commented on #124
Honestly, I would not have known that these (cmor tables path, cmip6 metadata path) were external of conda forge.  The "warehouse" (state-machine) codes are in a similar state - accessible only through git.

[2022-02-08 01:08] xylar commented on #124
@tomvothecoder, yeah, we'd have to ask the maintainers to add a license file.  `conda-forge` wouldn't allow the recipe without it.  Other than that, we wouldn't need any permission from the developers as long as repackaging the data doesn't violate the license agreement.  I think it would be the cleanest solution in the long run but it will be some work upfront.  Happy to help.

[2022-02-08 01:10] xylar commented on #124
@TonyB9000, you're maintaining https://github.com/E3SM-Project/CMIP6-Metadata, right?  Could you add a license file (ask @rljacob) and start making releases when things change?  If you do that, I can make a conda recipe for it on conda-forge.

[2022-02-08 03:07] TonyB9000 commented on #124
Actually, I have yet to be introduced to maintaining this repo.  Tom @tomvothecoder or Jill @chengzhuzhang  is probably the best bet here.

[2022-02-08 03:11] xylar commented on #124
Oh, I saw that you were the most recent committer and I assumed you were the maintainer.  Oops!

[2022-02-08 03:28] TonyB9000 commented on #124
No Prob - I'm sure a future awaits me here... :)

[2022-02-08 17:42] chengzhuzhang commented on #124
Yeah, I think re-packaging the data repo makes sense. I can take care adding a license for `CMIP6-Metadata`.
Just to be thorough, @TonyB9000 sent in email on all the external data dependencies of `esgfpub`:
cmip_metadata_path: /p/user_pub/e3sm/staging/resource/CMIP6-Metadata/
cmip_tables_path:   /p/user_pub/e3sm/staging/resource/cmip6-cmor-tables/Tables/
vrt_map_path:       /p/user_pub/e3sm/stagin

[2022-02-08 18:43] xylar commented on #124
I see.

So the easiest way to handle  everything here in the `scripts` directory is just to include them in the python package as well, rather than having a separate directory for them.  This would be accomplished by moving `scripts` into `e3sm_to_cmip`, adding empty `__init__.py` files in each directory, adding all the scripts to a `scripts` argument in `setup.py` (see [this example](https://gith

[2022-02-09 20:13] xylar commented on #124
I'm going to work on a branch with the changes I recommended above.

In that process, I noticed that the NetCDF file is already available within the package here:
https://github.com/E3SM-Project/e3sm_to_cmip/commits/master/e3sm_to_cmip/resources/vrt_remap_plev19.nc

[2022-02-09 20:43] chengzhuzhang commented on #124
Thank you for getting start on this!
yes, this .nc files appears twice in the repo, one under /scripts, the other under /resources.
We have been updates data under /cwl_workflows.  To package them in the proposed  data package, I'm wondering how the release schedule of the data package would be? since it requires files from three distinct repos.

[2022-02-09 21:05] xylar commented on #124
These would need to be 3 distinct data packages.

[2022-02-09 21:08] xylar commented on #124
Could you explain what data you're referring to?  The `.cwl` files?

[2022-02-09 21:50] xylar commented on #124
Could I get a little more clarity on the workflow involving the `.cwl` files?

Are folks going to just be running the `cwl` tool and pointing those files without modification?  Are they going to act as templates for folks to modify?  Or are folks going to be trying to modify them in place and then run with them?

The strategy for handling them would be different depending on which.

[2022-02-09 23:10] tomvothecoder commented on #124
Thanks for getting started @xylar.

From what I understand, the `.cwl` files aren't supposed to be modified by the end user. Instead, the `.yaml` file associated with the main `.cwl` file is configured. The `.yaml` files are supposed to be templates for the end user to copy and modify as needed (e.g., updating paths like the ones mentioned in this issue).

* Example `.cwl` file (static): https://g

[2022-02-09 23:34] xylar commented on #124
Okay, so if the `cwl` and `yaml` files were in a conda environment (under a directory like `share/e3sm_to_cmip/`, possibly available with an environment variable), the documentation could tell users how to reference the `cwl` files and copy the `yaml` files out of the conda environment and into some sort of work directory for modification?

As an example:
[code]
We could define `E2C_DATA` as part

[2022-02-09 23:38] xylar commented on #124
Another question:  I think the scripts should be moved into the `e3sm_to_cmip` package and then made available as scripts in `setup.py`.  However, the scripts have really generic names that might be confusing to just have in the path and there would be potential for them to conflict with other packages.  Could we prefix them all with `e2c_` (or the prefix of your choice) to make it clear that they

[2022-02-09 23:46] xylar commented on #124
One more question: Which items in `resources` fit in each of these 3 categories?
1. we can get rid of it because it should come from an external package
2. we need to access it from `e3sm_to_cimp` the python package (or `e3sm_to_cimp` the entry point)
3. we need to access it from one of the scripts and/or the `cwl` workflows

I ask because things in category 1. need to be removed and things in cat

[2022-02-10 00:23] tomvothecoder commented on #124
Hey @xylar, I'm about to head out on vacation for the rest of the week. If nobody gets to them before me, I'll be happy to review your questions next week.

[2022-02-10 00:37] xylar commented on #124
@tomvothecoder, sounds good.  Enjoy!

[2022-02-10 00:44] xylar commented on #124
The rest of you, I have 2 branches, one of the this repo and one of the conda-forge feedstock.  They're working as expected.
https://github.com/xylar/e3sm_to_cmip/tree/move_scripts_cwl_into_package
https://github.com/xylar/e3sm_to_cmip-feedstock/tree/test_package_reorg
To try this out yourselves, you could clone both branches and then do the following in the `test_package_reorg` branch:
[code]
You

[2022-02-10 00:47] xylar commented on #124
I can start mockup conda-forge recipes for the 2 data repositories while we wait on licenses and/or releases and make the test e3sm_to_cmip build depend on those as well.  That way, we could at least prove that the workflow functions as expected, fix internal paths, and begin to update documentation while we wait on those packages.

[2022-02-10 00:51] chengzhuzhang commented on #124
Thank you Xylar! I will test. and at the same time think more about the data organization. It may not be a bad idea to fold [E3SM-Project/CMIP6-Metadata](https://github.com/E3SM-Project/CMIP6-Metadata) into $E2C_DATA. I will let you know.

[2022-02-10 01:42] xylar commented on #124
The advantage in having https://github.com/E3SM-Project/CMIP6-Metadata be its own package is that it can have its own license and release schedule.  You could do a new release every time the data gets updated and have the version number be the date of the release.  If you tie it in to `e3sm_to_cmip`, you have to coordinate releases of the software with the changes in the metadata.

We can have a d

[2022-02-10 03:20] xylar commented on #124
Here are my draft conda-forge recipes for the two external data packages:
https://github.com/xylar/staged-recipes/tree/add_cmip-cmor-tables/recipes/cmip6-cmor-tables
https://github.com/xylar/staged-recipes/tree/add_e3sm-cmip6-metadata/recipes/e3sm-cmip6-metadata

You can build each of these from their respective directory within `recipes` with:
[code]
Then, you can build the updated recipe for `e3

[2022-02-10 20:26] chengzhuzhang commented on #124
Some of these files look familiar and they may also present in esgfpub repo. @TonyB9000 maybe you could clarify on this problem?

[2022-02-10 21:11] xylar commented on #124
It would be *really* nice to avoid redundant copies of files.  That causes nightmares when they need to be updated (or keeping track of which version is being used).  I think Sterling had to do some quick-and-dirty work on this repo at times just to get the job done, but we want to clean as much of that up as we can.

[2022-02-10 21:16] xylar commented on #124
@chengzhuzhang and @TonyB9000, could you give me some example workflows to test out my updated version of the code with?  No real rush on this but I would like to not lose momentum. I'm likely to get distracted with other work soon.

[2022-02-10 23:11] TonyB9000 commented on #124
To understand where each of these things are used (directly, or indirectly) by the warehouse state-machine, I will need to search for each, both in the filesystem (where they may be installed") and in various pieces of code (where they might be called upon.)  I can do that, it will take several hours.  Most all of these things were "integrated" by Sterling, so I must play archaeologist.

[2022-02-11 01:18] TonyB9000 commented on #124
The only item from that list that appears to be directly referenced by the warehouse is in the warehouse/resources/warehouse_config.yaml:

    vrt_map_path: /p/user_pub/e3sm/staging/resource/cmor/vrt_remap_plev19.nc

I am a bit concerned that the warehouse_config also contains these paths:

grids:
  ne30_to_180x360: /**home/zender1**/data/maps/map_ne30np4_to_cmip6_180x360_aave.20181001.nc
  oEC60t

[2022-02-11 02:22] xylar commented on #124
@TonyB9000,

Regarding `vrt_remap_plev19.nc`, with my suggested changes, this would become:
[code]
as long as we modify the `warehouse` package to do the Jinja templating to make a few environment variables available in YAML files.

So long story short we should be able to handle that.

Regarding stuff in ` /home/zender1/`, that really is a problem.  These grids are big enough that they need to be

[2022-02-17 23:05] TonyB9000 opened #126 "Provide explicit error messages for bad input"
write code that tests explicitly for missing or bad input, and issues something akin to

            ERROR:<module_name>:Missing or Bad input <parameter_name>
e.g.
            ERROR:e3sm_to_cmip:Missing or Bad input inpath=“bad_path”

to stderr if the input is unsatisfactory.  This makes run post-processing (e.g. Seeking “ERROR” in output logs) far more informative.

As it stands, when "e3sm_to_cm

[2022-02-23 17:19] tomvothecoder opened #127 "Add quality assurance tools for robust code development"

[2022-03-04 20:10] chengzhuzhang opened #128 "Some handlers still depend on cdms2"
Ex. pfull phalf. Will need to move to xarray.

[2022-03-05 00:05] chengzhuzhang commented on #128
Hey Tom, this is not in high priority. I'm assigning to you for your expertise in xarray. Thanks!

[2022-03-05 00:06] chengzhuzhang commented on #128
Duplicated see #115

[2022-03-05 00:06] #128 closed

[2022-03-07 19:44] chengzhuzhang opened #129 "high frequency handlers"
Right now, E2C accept pr_highfreq and rlut_highfreq as input variable names at sub-monthly frequency.
(day, 3hr) pr_highfreq
(day) rlut_highfreq

pr_highfreq and rlut_highfreq match handler conversion scripts names. A cleaner way is to let E2C to distribute handlers based on input for frequency. A more advanced scheme is to have a list of handlers, and E2C can loop over the handlers and identify t

[2022-03-09 17:15] TonyB9000 commented on #129
I note here what I've learned about the need to distinguish (for instance) "pr" and "pr_highfreq" in the e3sm_warehouse job codes.  Key is the fact that a dataset may not use the "_highfreq" designation in the dataset_id.  Its appearance, where needed, must be inferred from the frequency (day, 3hr).

The e3sm_warehouse jobs call "e3sm_to_cmip" twice when processing a dataset.  First, with the "--i

[2022-03-22 19:33] chengzhuzhang commented on #103
Sterling mentioned to use Abstract Base Class, which could be one possibility for this PR. https://github.com/E3SM-Project/e3sm_to_cmip/pull/54#issuecomment-668707309

[2022-03-22 19:46] chengzhuzhang opened #130 "Simple mode is not working"
It should cause by the change from data type generated from cdms2 to xarray. The error message reads:
[code]

[2022-03-22 22:45] chengzhuzhang commented on #130
@tomvothecoder The error message:`Using a DataArray object to construct a variable is ambiguous, please extract the data using the .data property.`
Is a bit obscure for me, any suggestions?

[2022-03-23 17:44] tomvothecoder commented on #130
Based on the stacktrace and what I understand:

1. A new data variable is being added to the `Dataset` object using dims (`tuple(dims)`) and a dictionary with the variable (`new_data[var_name]`).

  * https://github.com/E3SM-Project/e3sm_to_cmip/blob/bfc1b812e0de6a86c4bf482fa738c0010b2658f8/e3sm_to_cmip/lib.py#L267

2.  The value of `new_data[var_name]` is an `DataArray` (`variable_data`) since "p

[2022-04-01 18:35] #127 closed

[2022-04-01 18:58] tomvothecoder opened #133 "Run QA tools to format and lint the repository"
Related to #127 and PR #130

[2022-04-06 17:49] tomvothecoder opened #134 "Figure out where `/scripts/cwl_workflows` should go"
The `/scripts/cwl_workflows` directory is not included with the installed `e3sm_to_cmip` package and is used by the `esgfpub` repo.

What this means:
* You are forced to manually copy the CWL workflows to your local copy of the `datasm` repo under `/staging/resources`.
* Link to this directory: https://github.com/E3SM-Project/e3sm_to_cmip/tree/master/scripts/cwl_workflows

Possible solution:
* Inc

[2022-04-12 21:30] #129 closed

[2022-04-21 16:35] chengzhuzhang opened #135 "Update helper texts and docs for converting mpas variables"

[2022-06-13 21:43] chengzhuzhang opened #139 "New variable request: converter for monthly averaged daily max/min temperature"
E3SM v2 starts to output monthly averaged daily max/min temperature (tasmax/tasmin, CMIP names)
TREFMXAV, TREFMNAV (E3SM name) as standard output.

There are handlers existing for tasmax and tasmin (sub-monthly), need to support additional handler for both variables.

[2022-06-13 22:26] chengzhuzhang commented on #139
Hey @tomvothecoder just to bring this issue into your attention. We can include it as a use case to consider for the revamp plan.

[2022-06-13 23:23] tomvothecoder commented on #139
I linked this issue to the PR that is in progress

[2022-06-13 23:57] chengzhuzhang commented on #139
That's great. Thank you!

[2022-07-27 16:16] tomvothecoder opened #142 "Broken link to docs on e3sm.org"
Link: https://e3sm.org/resources/tools/other-tools/e3sm_to_cmip/

[2022-07-28 16:16] tomvothecoder opened #145 "Update build workflow to upload codecov reports instead of skipping on `master`"
For the `master` branch, we should rerun codecov so that the latest report gets uploaded for this branch and to avoid the below warning.

https://github.com/E3SM-Project/e3sm_to_cmip/pull/143#issuecomment-1197248764

[2022-07-28 16:30] #145 closed

[2022-08-01 20:18] TonyB9000 opened #148 "Factor of 10 error in Avogadro's Number"
Three of the cmor handlers (emibc.py, emiso2.py, emiso4.py) employ the constant "6.02214e22" in their formulas.  I recognize this as Avogadro's Number (number of nucleons in a gram mass of nucleons, with 1 nucleon mass taken to be 1/12th the mass of a Carbon12 nucleus.)  But Avogadro's Number is 6.02214e**23**, not e**22**.  The formulas affected are:

emibc.py:    outdata = data['SFbc_a4'][index,

[2022-08-02 00:04] #139 closed

[2022-09-16 18:15] chengzhuzhang opened #149 "Support cmorizing MPAS data from E3SM v2 simulation"
@xylar @strandwg @TonyB9000 @czender @lukaszlacinski @tomvothecoder

Issue:

Additional mapping files and code changes needs to make to support cmorizing MPAS output (SImon Omon)

example usage for v1:
[code]
Some instructions as follows:
[1] unnecessary if doing only one variable and you WANT a new output anyway.
[2] seems essentially constant - should be defaulted.
[3] you *should* have fixed me

[2022-09-16 18:19] chengzhuzhang commented on #149
Based on @xylar's input:

We will need new mapping files:
For the WC simulation we are processing, we need mapping file for EC30th60E2r2 to CMIP (following the convention of map_oEC60to30v3_to_cmip6_180x360_aave.20181001.nc)
The MOC region mask for oEC60to30v3. available [here](https://web.lcrc.anl.gov/public/e3sm/diagnostics/mpas_analysis/region_masks/EC30to60E2r2_mocBasinsAndTransects20210623.nc

[2022-09-16 18:21] xylar commented on #149
Here is [map_EC30to60E2r2_to_1.0x1.0degree_conserve.nc](https://web.lcrc.anl.gov/public/e3sm/diagnostics/mpas_analysis/maps/map_EC30to60E2r2_to_1.0x1.0degree_conserve.nc) to tide you over until we have a more standardized approach for creating the mapping files you need.  Can you let me know if this is what you need?

It can be reproduce on an Anvil compute node with E3SM-Unified by running the fo

[2022-09-16 18:42] TonyB9000 commented on #149
I thought I'd made a separate issue of this - but "--precheck" does not distinguish variant label, causing e3sm_to_cmip to refuse to process r2, r3, r4, ... if it finds "r1" data, falsely treating the data as "already generated".

Also - I assume that the namefiles and restarts provided in the native data are appropriate to generate the CMIP6 MPAS data.  But can anyone provide the scope of a namef

[2022-09-16 18:50] xylar commented on #149
If there isn't already one, I'd make a separate issue of that.  Definitely should be fixed or `--precheck` is not very useful.

[2022-09-16 18:53] xylar commented on #149
The namelist file is configuration options so it doesn't have a concept of what mesh it's running on necessarily.  The restart file does, of course.

It would be best if both the namelist file and restart file are from the simulation being processed.  While it is unlikely, it is possible that the namelist options used by e2c might differ between simulations with the same horizontal mesh (e.g. `EC3

[2022-09-16 18:55] TonyB9000 opened #150 "The --precheck flag fails to distinguish variant label"
"--precheck" does not distinguish variant label, causing e3sm_to_cmip to refuse to process r2, r3, r4, ... if it finds "r1" data, falsely treating the data as "already generated".

Example: (from) (dsm_dev) -bash-4.2$ more slurm_scripts/CMIP6.DAMIP.E3SM-Project.E3SM-1-0.hist-GHG.**r2i1p1f1**.SImon.siconc.gr-GenerateSeaIceCMIP.out

2022-06-09 22:25:16,947_947:INFO:precheck:precheck: working on year

[2022-09-16 19:09] TonyB9000 commented on #149
I think so.  During the zstash "short-term archiving", namefiles and restarts are included with each experiment run (to include per ensemble, per frequency, etc).  I was hoping that some commonality would allow that the native "per realm, per frequency" publications not each require a reiterated publication of the namefile (and selected restarts), as their format does not conform to the model outp

[2022-09-16 19:19] TonyB9000 commented on #149
@xylar When you wrote, "best if both the namelist file and restart file are from the simulation being processed", what is intended by "the simulation"?  Are different ensembles "different simulations" because they begin with different initial conditions?  Or are those considered just "different runs" of the same simulation?  Thanks!

[2022-09-16 20:37] TonyB9000 commented on #149
Ok, thanks!  That does help.

As an experiment, I extracted every instance of "mpaso_in" from our v2 1pctCO2 arechive (v2.LR.1pctCO2_0101),and renamed each as "mpaso_in.<tar_path_components>" in order to compare them.  That list is

-rw-r--r--. 1 bartoletti1 publishers 36917 Jul 25  2021 mpaso_in.case_scripts.Buildconf.mpasoconf
-rw-r--r--. 1 bartoletti1 publishers 36917 Jul 25  2021 mpaso_in.case

[2022-09-16 20:39] TonyB9000 commented on #149
(git formatting is easily confused by "less_thans" and "greater_thans" and triple_hyphens...)

[2022-09-16 22:31] TonyB9000 commented on #149
Datapoint:  Our v2 archives contain 171 instances of "mpaso_in".  Curiously, there are none for piClim-control, piClim-histaer, or piClim-histall. If I skip "piControl-land" and "hist-all-xGHG-xaer" and look at only the mpaso_in found in the "run/" tar directory, there are 6 files, no two the same size:

[code]
To be safe, it appears that I must keep each of these, "installed" under our staging/re

[2022-09-16 22:41] chengzhuzhang commented on #149
Hey @TonyB9000,  piClim-control, piClim-histaer, or piClim-histall are atmospheric runs which don't have coupled ocean, so no MPAS output.

[2022-09-16 22:42] chengzhuzhang commented on #149
@TonyB9000 May I suggest that we leave out the operational details from this script, but focusing on having one v2 simulation work with new data and code modification in e2c?

[2022-09-16 23:29] TonyB9000 commented on #149
Hi @chengzhuzhang I totally forgot the all-atmospheric runs - makes sense no MPAS info, thanks!

Xylar's instructions are quite foreign to me.  I can have fun playing with that code, and see what happens.

Given Tom's admonition not to do "pip install ." for modified e2c in the various conda environments (but rather, wait for a release of some sort, then rebuild the environment using an appropriat

[2022-09-16 23:38] TonyB9000 commented on #149
BTW, The e2c command line allows:

--map <map_mpas_to_std_grid>
                        The path to an mpas remapping file. Required if realm is mpaso or mpassi.

But I think the cmor_module simply expects certain "other parameter" files (mpaso_in, mpaso.rst*, "transect.nc" to be provided in the (temp) input directories.  The issue is having these available (somewhere) so the cwl_workflows can do

[2022-09-16 23:40] chengzhuzhang commented on #149
Yes, a development environment for e2c should be used here. I think Tom's suggestion only apply to use released e2c version for operational use in `datasm`. And we the right order to make things work should be using the command line, then the cwl_worklfows and then datasm.

[2022-09-17 00:33] TonyB9000 commented on #149
OK, understood.  I tend to use the cwl_workflows as a "model" to understand the pieces, from which I generate the first cut for a manual script.  (For non-MPAS, multiple calls are involved - ncremap + e2c, etc)  Also, the datasm is sufficiently verbose (now) that missing things become visible.

Now that I've pulled down the "masks and maps", and put into place the various mpaso_in files, I should

[2022-09-17 17:33] czender commented on #149
Hi @TonyB9000,

In answer to some of the earlier questions above:
@chengzhuzhang Yes, CMIP6 has grid requirements so we need to be careful the 1x1 grid is as follows:
Latitudes are centered at cell midpoints and poles are at corners/edges of first and last gridcells (in south->north order). Longitudes are centered at cell midpoints and Greenwich is at west edge (not center!) of first longitude cel

[2022-09-17 17:37] xylar commented on #149
@TonyB9000

Yes, only the `mpaso_in` (and `mpassi_in` for sea ice) from the `run` directory are needed.  I don't know what the deal is with all the other ones you found.

something.rst.something

We want any file in the `run` directory named `mpaso.rst.<date_time>.nc`.  We do not want any of the other restart files that are related to other kinds of output such as history files.

I'm happy to try

[2022-09-17 17:45] xylar commented on #149
I fully advocate using @czender's maps and generating them with `ncremap`. I can add all 3 of @czender's `ncremap` calls to the `compass` tools so we generate these mapping files automatically with each new MPAS-Ocean and -Seaice mesh.  I can make sure they end up in standard `diagnostics/maps` directory that I believe we have agreed on.

[2022-09-19 15:57] tomvothecoder commented on #149
Jill is correct here. Installing and testing a local build with code changes using `pip install .` is expected for the **e2c development env**. However, `pip install .` is not intended for production usage (aka `datasm` envs).

I also agree with Jill's order for code changes (using the command line, then the cwl_worklfows and then datasm).

[2022-09-19 16:17] TonyB9000 commented on #149
Understood.  I tend to use the cwl_workflows as a "short-cut RTFM" to understand the expected "command-line" inputs and order (ncremap, e2c, etc).  As I haven't been making changes to e2c (yet to be tested), I HAVE been making datasm changes, expanding into areas that were left undone during the initial development.  This enabled the generation of the v2 "fx" datasets.

[2022-09-19 17:57] TonyB9000 commented on #149
@xylar

OK.  Just to clarify - these are still experiment-specific.  I have established a (for E3SM) a global

/p/user_pub_e3sm/staging/resource/namefiles/<ModelVersion>/<Experiment>/[mpaso_in, mpassi_in]...

where each namefile was pulled from the appropriate archive (run/).  Likely, this is overkill, but I don't want to risk applying the wrong namefile in CMIP6 generation.  Likewise, I will pull

[2022-09-19 18:34] chengzhuzhang commented on #149
@czender Thank you for your input even during travel time. (and I'm glad you finally got your compy account approved!)
Good to know that the new mapping files already exist. For post-processing data for CMIP, it is probably okay to use either `mono` from TR or `aave` from ESMF. I'm asking Tony to pull both files, but will see if @rljacob or @mt5555 has a preference.

@xylar Thanks for the reminder

[2022-09-19 21:04] xylar commented on #149
@TonyB9000, what you say in https://github.com/E3SM-Project/e3sm_to_cmip/issues/149#issuecomment-1251357655 sounds right to me.

A "map" goes from one grid or mesh to another.  A grid is regular (like latitude-longitude or a box with x and y or something like that).  A "mesh" is unstructured (more irregular).  MPAS components use meshes made up of hexagons and pentagons that can't be that don't li

[2022-09-19 21:18] TonyB9000 commented on #149
@xylar Thanks!  (I can't imagine the difficulty mapping values across irregular meshes - averaging or interpolating reasonably.)  So I assume "masks" also have an implied grid or mesh, and supply (or mask) values to a corresponding grid or mesh.   Naming conventions?

Now I see that you have an "n-squared" issue generating all possible combinations of grid/mesh to grid/mesh mappings.  Still, I thi

[2022-09-19 21:24] xylar commented on #149
We try to be reasonable about which combinations are likely to be needed and support only those.  In the case of MPAS mesh to 1 degree lat/lon, that's a pretty obvious one.  But as @czender points out, there are still many choices about how you do that.  Nearest neighbor? Bilinear interpolation? Carefully compute the polygons of overlap between each grid cell on each grid and sum them up (conserva

[2022-09-19 21:56] TonyB9000 commented on #149
Yes, I imagine varied weighting schemes exist.  When downscaling I applied proportional averaging.  Upscaling, I used distance to nearest source neighbors - also for rotations (easier than calculating what fraction of a rotated rectangle overlaps another.)

I always wanted to try different schemes and judge them, by translating back and forth to see how close to "unchanged" one could get. (upscale

[2022-09-26 16:11] tomvothecoder commented on #99
This is no longer needed because the API design will refactored in #140.

[2022-09-26 16:11] #99 closed

[2022-09-26 20:20] chengzhuzhang commented on #149
Hey@xylar, using the new mapping file/MOC region mask, @TonyB9000 made some nice progress to modify e2c and generated one of the Omon variable: fsitherm. But we don't know how to verify if the generated time series make sense. Would you advice what variable(s) we should provide for verification and would you help to look at the file.

Another question: is there a naming convention for the MOC regi

[2022-09-27 00:18] xylar commented on #149
I won't have time to help with this until the Hackathon is over (so next week).  But I should be able to take a look after that.

The MOC masks for v2 are all named `<MPAS_mesh>_mocBasinsAndTransects20210623.nc`.  The date indicates when the regions were defined so it should be the same for all meshes, regardless of when they were defined.  These masks shoudl be available in `diagnostics/mpas_anal

[2022-09-27 00:22] xylar commented on #149
@darincomeau and @milenaveneziani, could you advise us on what variable(s) would be needed on the sea-ice side to compute `fsitherm`?
https://github.com/PCMDI/cmip5-cmor-tables/blob/master/Tables/CMIP5_Omon#L3945-L3964
"Water Flux into Sea Water due to Sea Ice Thermodynamics"

I believe this should be the sum of melting and freezing

[2022-09-27 00:44] xylar commented on #149
@darincomeau said on slack that he thinks `fsitherm` likely corresponds to `timeMonthly_avg_seaIceFreshWaterFlux` from the MPAS-Ocean `timeSeriesStatsMonthly` files.  @TonyB9000, is that what you used?  If so, it should be a straightforward remap from the MPAS-Ocean grid to the lat-lon grid using the conservative mapping file (since this is a flux).  I can plot the original MPAS-Ocean data and the

[2022-09-27 01:48] TonyB9000 commented on #149
Thanks Xylar!  No hurry about any of this.  I have scores of variables to cmorize, and fsitherm just happened to be one that we are using for testing.  But having a solid naming standard for grids, mapfiles, and masks (and a means of knowing which apply in what circumstance) is something I struggle to grasp.

[2022-10-25 21:17] chengzhuzhang commented on #149
Resolved by
#151 #154 for general code change accommodating v2 file name convention
and #155 for handling Sea-ice SGS weighting with `ncremap`

[2022-10-25 21:17] #149 closed

[2022-11-01 20:35] tomvothecoder opened #159 "Update `nco` in dev environment from 5.1.1alpha13 to 5.1.1"
Also need to remove the nco dev channel.

* https://github.com/E3SM-Project/e3sm_to_cmip/blob/140da5e8651fa8295bb3d1dec53093cfe00fedbb/conda-env/dev.yml#L12
* https://github.com/E3SM-Project/e3sm_to_cmip/blob/140da5e8651fa8295bb3d1dec53093cfe00fedbb/conda-env/dev.yml#L4

[2022-11-01 21:23] #159 closed

[2022-11-03 16:18] tomvothecoder opened #162 "Consider moving `cwl_workflows` from the repo to `datasm`"
@TonyB9000 That is a good discussion item for our next E3SM Publication Meeting, which I think is after Thanksgiving.

I sent an email on 7/21/22 that lists our options.

I am leaning towards the second option. This will keep the `cwl_workflows` version controlled alongside `datasm`, which makes the most sense (since `e3sm_to_cmip` is a standalone package).

Options | Keeping CWL workflows in the

[2022-11-03 16:29] TonyB9000 commented on #162
Option 2 is fine with me.  I had always assumed that E2C releases included those cwl workflows, hence moving them under datasm would make them unavailable to those for whom E2C is accessible.

BTW, I was wrong to call it "cmor_cwl_workflows" because some of them support E3SM climo and time-series generation, has nothing to do with e2c or cmorizing.  I recommend "e3sm_cwl_workflows" if detached, el

[2022-11-03 16:29] TonyB9000 commented on #162
Also, great breakdown of options and pros and cons!

[2022-11-14 16:13] strandwg opened #163 "Previously unseen error "pcode: {pcode} is not supported.""
We're using e3sm_to_cmip to convert some MPAS monthly mean ocean data from E3SMv2 to CMIP6-compliant format, and while the code works fine for me, a colleague gets the error

pcode: {pcode} is not supported.

for 20 of the 26 fields expected. The only fields generated are masso soga sosga thetaoga tosga volo; the fields that end up being single values at each time.

I've not seen this error before

[2022-11-14 17:23] chengzhuzhang commented on #163
Hi @strandwg Thank you for reporting the error! The issue with `pcode: {pcode} is not supported.` is fixed in the commit https://github.com/E3SM-Project/e3sm_to_cmip/pull/158
I'm wondering your colleague may use an old version that doesn't have this fix. To update the code using master branch should resolve this issue.

[2022-11-14 17:26] chengzhuzhang commented on #163
@strandwg I would like to add that the latest master also support MPAS sea-ice variables generation. Please let us know if you find any issues. Thank you.

[2022-11-14 18:14] strandwg commented on #163
She installed e3sm_to_cmip on Friday 11 November; the e3sm_to_cmip is version 1.9.0 - I'll ask her to repeat the install.

Thanks!

[2022-11-17 21:06] chengzhuzhang opened #165 "Single to double precision promotion"
When generating intermediate files for mpas-o variables, the fields variables (not coordinates variables) in single precision in raw output are promoted to double precision. Impacted variables include:
2d: masso, soga, sosga, thetaoga, tosga, volo, zos
3d: volcello, zhalfo
Although `cmor` convert back these variables back to single, the precision change needs to be inspected further.

[2022-11-29 22:48] chengzhuzhang opened #170 "CFmon variable clisccp and clcalipso: won't convert"
Note that other CFmon variables works fine, the failed two variables have additional dimensions.

clisccp | ISCCP Cloud Area Percentage | FISCCP1_COSP | clisccp = FISCCP1_COSP | %(time, plev7c, tau, lat, lon)
-- | -- | -- | -- | --

clcalipso | CALIPSO Percentage Cloud Cover | CLD_CAL | clcalipso = CLD_CAL | %(time, alt40, lat, lon)
-- | -- | -- | -- | --

[2022-11-30 22:50] chengzhuzhang commented on #170
It turned out each errors are caused by different problems:
- clisccp: in v2 dataset the COSP version changed to use Pa instead of hPa for pressure coordinate `cosp_prs`. Using original unit conversion formula triggers Cmor checker to report errors, i.g. `! Error: requested value 90000.000000 for axis plev7c (table: CFmon) was not found`
- clcalipso: `xarray dataarray` was used as input for coordi